version: '2.4'
services:
  erwin:
    image: ghcr.io/erwin-schrodinger-token/ewn-box-opener:latest
    restart: unless-stopped
    environment:
      - API_KEY=
  devnet:
    image: ghcr.io/erwin-schrodinger-token/ewn-box-opener:latest
    restart: unless-stopped
    environment:
      - DEVNET_API_KEY=none
      - API_URL=https://devnet-api.erwin.lol/
